.customer-info {
    position: relative;
    display: inline-flex;
}
.customer-labels {
    font-weight: bold;
    color: #3367d6;
    margin-right: 10px;
}
.customer-labels div, .customer-txt div {
    margin-bottom: 5px;
}
.category {
    top: 50px;
    left: calc(100% - 250px);
    position: absolute;
    width: 300px;
    height: auto;
    transform: translateX(-100%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
.category-header {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #3367d6;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}
.category-info {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 3px;
}
.category-header div, .category-info div {
    margin-left: auto;
}
.work-order {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.work-order-con {
    position: relative;
    width: 50%;
    height: auto;
}
.work-order-header {
    width: 100%;
    height: auto;
    font-weight: bold;
    color: #3367d6;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}
.work-order-cols {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
}
.work-order-col {
    flex: 1;
}
.work-order-col div {
    padding: 3px;
}
.work-order-col div.t {
    background-color: #3367d6;
    color: #fff;
    font-weight: bold;
}
#nav {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    z-index: 1;
}
.nav-item {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color .1s;
    font-weight: bold;
}
.nav-item:not(.active):hover {
    background-color: #f2f2f2;
}
.nav-item.active {
    background-color: #3367d6;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.nav-pointer {
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    left: 50%;
    top: calc(100% + 3px);
    transform: translate(-50%, -100%) rotate(45deg);
    background-color: #3367d6;
}
.nav-item.active .nav-pointer {
    display: block;
}
.border-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
}
#main {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
}
.left {
    position: relative;
    flex: none;
    width: 445px;
    padding-right: 25px;
    height: auto;
}
.right {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 25px;
    padding-top: 25px;
    border-left: 1px solid #d9d9d9;
}
.schedule-con {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
}
.schedules-con {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.schedule-col {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.schedule-header {
    padding: 5px;
    background-color: #3367d6;
    color: #fff;
    font-weight: bold;
}
.schedule-val {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 5px;
    color: #3367d6;
    background-color: #fff;
    font-weight: bold;
}
.start-time-con {
    position: relative;
    flex: none;
    width: 100%;
    padding: 10px 5px;
    border-top: 1px solid #d9d9d9;
}
.start-time-label {
    width: 100%;
    height: auto;
    flex: none;
    font-weight: bold;
    color: #3367d6;
    margin-bottom: 10px;
}
.start-picker {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
}
.time-unit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: auto;
}
.time-unit-inner {
    width: 10px;
    height: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.time-unit-inner.l {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #3367d6;
}


.picker-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.picker-dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #3367d6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    margin-right: 1.5%;
}
.picker-dot.l {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.picker-option {
    display: inline-flex;
    flex: 1;
    height: 20px;
    border-left: 1px solid #fff;
}
.schedule-con.minimized {
    width: 50%;
    flex-direction: column;
}
.schedule-con.minimized .schedule-col {
    flex-direction: row;
    padding: 5px 0px;
    border-bottom: 1px solid #f2f2f2;
}
.schedule-col.last {
    border-bottom: none;
}
.schedule-con.minimized .schedule-header {
    background-color: unset;
    color: gray;
    flex: none;
}
.schedule-con.minimized .schedule-val {
    height: unset;
    width: 100%;
    justify-content: flex-end;
}
.item {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    border-bottom: 1px solid #d9d9d9;
}
.items {
    position: absolute;
    display: inline-flex;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}
#find {
    background-color: #3367d6;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
#find.disabled {
    background-color: #d9d9d9;
    color: #fff;
    cursor: not-allowed;
}
#days div {
    width: 14.285%;
    text-align: center;
    color: #3367d6;
    font-weight: bold;
}
.pill {
    width: 40px;
    height: 10px;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color .1s;
}
.slider {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    top: 50%;
    left: -1px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    transform: translate(0%, -50%);
    transition: transform .1s;
}
.pill.active {
    background-color: #3367d6;
}
.pill.active .slider {
    transform: translate(100%, -50%);
}
#calendar {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#calendar::-webkit-scrollbar {
    display: none;
}
.day {
    position: relative;
    width: 14.275%;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}
.day.in-range {
    background-color: #f2f2f2;
}
.day-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-radius: 6px;
}
.day-inner:not(.selected):hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.day-inner.selected {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    cursor: default;
}
.status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #d9d9d9;
    top: 34px;
}
.status.g {
    background-color: #00cc99;
}
.status.y {
    background-color: #ffa500;
}
.status.r {
    background-color: #ff5050;
}
.label {
    display: inline-flex;
    font-weight: bold;
    color: #3367d6;
    margin-right: auto;
    white-space: nowrap;
}
.label div {
    color: #000;
}
.selection {
    position: relative;
    padding: 0px 1px 1px 0px;
    border-bottom: 2px solid #d9d9d9;
    height: auto;
    margin-left: 35px;
    color: gray;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}
.selection.active {
    color: #3367d6;
    border-color: #3367d6;
}
.selection.disabled {
    cursor: not-allowed;
}
.side {
    position: absolute;
    width: 2px;
    height: 100%;
    left: calc(100% + 6px);
    top: 0;
    background-color: #d9d9d9;
    transform: translate(-100%, 2px) rotate(30deg);
}
.selection.active .side {
    background-color: #3367d6;
}
#small {
    position: absolute;
    top: 50%;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 6px;
    background-color: #3367d6;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}
#status {
    font-weight: bold;
}
#status.g {
    color: #00cc99;
}
#status.y {
    color: #ffa500;
}
#status.r {
    color: #ff5050;
}
#view {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#slider {
    position: relative;
    display: inline-flex;
    width: 200%;
    transition: transform .15s;
}
.container {
    position: relative;
    width: 100%;
    height: auto;
}
.installer-header {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
    background-color: #3367d6; 
    padding: 5px;
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
.installer-header-col {
    font-weight: bold;
    color: #fff;
    flex: 1;
}
.create {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    padding: 0px 10px;
    background-color: #4287f5;
    color: #fff;
    cursor: pointer;
}
.num {
    width: 45px;
    margin-right: 5px;
}
.num, .sel {
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #3367d6;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}
form {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 6px;
}
.installer-outer {
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d9d9d9;
}
.installer {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 5px;
}
.installer.b {
    border-bottom: 1px solid #d9d9d9;
}
.installer.expanded {
    height: auto;
    padding: 10px 5px;
}
form .installer-outer:last-child {
    border-bottom: none;
}
.radio {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
}
.installer-col {
    flex: 1;
}
.installer-right {
    position: absolute;
    display: inline-flex;
    align-items: center;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}
.installer.active .in {
    font-weight: bold;
    color: #3367d6;
}
.score {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 18px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid;
    transform: translateX(-5px);
}
.score.g {
    color: #00cc99;
}
.score.y {
    color: #ffa500;
}
.score.r {
    color: #ff5050;
}
.installer-extra {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 5px;
}
.installer-extra-header {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-flex;
    padding-bottom: 1px;
    border-bottom: 1px solid #3367d6;
}
.installer-extra-con {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-flex;
    padding: 10px 0px;
}
@media only screen and (max-width: 500px) {
    .left {
        padding: 0px;
        width: 100%;
    }
    .right {
        border-left: none;
    }
    #calendar {
        max-height: calc(100vh - 210px);
    }
}