<div id="container">
    <div id="wo">
        <!--<h3>Work Order 12345</h3>-->
        <div class="switch">
            <div [ngClass]="{'active': !aView}" (click)="switchView()" style="margin-right: 3px">Info</div>
            <div [ngClass]="{'active': aView}" (click)="switchView()">Scheduler</div>
        </div>
        <div class="slide">
            <div id="left" [ngClass]="{'active': aView}">
                <div class="left-con" [ngClass]="{'active': !aView}" style="overflow-y: scroll; overflow-x: hidden;"> 
                    <div class="info">
                        <i class="fas fa-user-circle"></i>Stephen Baldwin
                    </div>
                    <div class="info">
                        <i class="fas fa-phone-square"></i>(970) 640-5850
                        <a href="tel:970-640-5850">CALL</a>
                    </div>
                    <div class="info">
                        <i class="fas fa-envelope-square"></i>idotheinternet@gmail.com 
                        <a href="mailto:idotheinternet@gmail.com">EMAIL</a>
                    </div>
                    <div class="info" style="border-bottom: none">
                        <i class="fas fa-location-circle"></i>6950 East Chenango Ave
                        <a>OPEN MAP</a>
                    </div>
                    <div class="info sub" style="border-bottom: none">
                        <i class="fas fa-history"></i>Year Built:
                        <a>2017</a>
                    </div>
                    <div class="info sub">
                        <i class="fas fa-history"></i>Zone:
                        <a>Denver</a>
                    </div>
                    <div class="info" style="border-bottom: none">
                        <i class="fas fa-tools"></i>In Stock Carpet
                        <a style="background-color: #fff; color: #3367d6; letter-spacing: normal; font-size: 16px;">133.67 Square Yards</a>
                    </div>
                </div>
                <div class="left-con" [ngClass]="{'active': aView}">
                    <div class="info">
                        <i class="fas fa-arrows-h"></i>Duration
                        <div style="display: inline-flex; align-items: center;">
                            <input #num class="num" type="number" value="{{ amt }}" (change)="changeAmt(num)">
                            <select class="sel" #durations (change)="changeDuration(durations)">
                                <option [attr.selected]="duration === 0 ? '' : null" value="0">{{ amt > 1 ? 'Days' : 'Day' }}</option>
                                <option [attr.selected]="duration === 1 ? '' : null" value="1">{{ amt > 1 ? 'Hours' : 'Hour' }}</option> 
                                <option [attr.selected]="duration === 2 ? '' : null" value="2">{{ amt > 1 ? 'Minutes' : 'Minute' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="info" style="border-bottom: none">
                        <i class="fas fa-calendar-week"></i>1 Week Range
                        <div class="pill" (click)="initRange()" [ngClass]="{'active': rangeMode}">
                            <div class="slider"></div>
                        </div>
                    </div>
                    <div id="find" (click)="findAvailable()" [ngClass]="{'disabled': calendar[idx].status !== undefined}">Find Available</div>
                    <div id="days">
                        <div>S</div>
                        <div>M</div>
                        <div>T</div>
                        <div>W</div>
                        <div>T</div>
                        <div>F</div>
                        <div>S</div>
                    </div>
                    <div id="calendar">
                        <div id="first" [ngStyle]="{'width': (firstDay * 14.275) + '%'}"></div>
                        <div class="day" *ngFor="let day of calendar; let i = index;" [ngClass]="{'in-range': rangeMode && day.status === undefined && (i < (idx + 7)) && i >= idx}">
                            <div class="day-inner" [ngClass]="{'selected': day.date === selectedDate}" (click)="selectDay(day.date, i)">
                                <div class="month-label" *ngIf="!i || getDay(day.date) === 1">{{ getMonthLabel(day.date) }}</div>
                                <div class="month-day">{{ getDay(day.date) }}</div>
                                <div class="status {{ day.status !== undefined ? !day.status ? 'g' : day.status === 1 ? 'y' : 'r' : '' }}"></div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main"> 
        <div class="items" *ngIf="!aView">


            <div class="drop-down">
                <div class="info drop-btn" (click)="initShowSchedules()" style="padding-top: 0px">
                    <i class="fas fa-calendar-check"></i>Schedules
                    <div>
                        <i class="fas fa-arrow-circle-{{ showSchedules ? 'up' : 'down' }} drop-arrow"></i>
                    </div>
                </div>
                <div class="cards" *ngIf="showSchedules">
                    <div class="card" *ngFor="let item of schedules; let i = index;">
                        <div class="info">
                            <i class="fas fa-calendar-day"></i>{{ getSelectedDate(item.date) }}
                            <div style="display: inline-flex; align-items: center;">
                                <i class="fas fa-pencil-alt" style="color: #ffa500; cursor: pointer; font-size: 16px;" (click)="editSchedule(item, i)"></i>
                                <i class="fas fa-times" style="color: #ff5050; margin-right: 0px; cursor: pointer; font-size: 16px;" (click)="removeSchedule(i)"></i>
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none">
                            <i class="fas fa-calendar-day"></i>Start Time:
                            <a>8:00AM</a>
                        </div>
                        <div class="info sub" style="border-bottom: none">
                            <i class="fas fa-calendar-day"></i>Duration:
                            <a>{{ item.amt }} {{ (item.duration ? item.duration > 1 ? 'Minute' : 'Hour' : 'Day') + (item.amt > 1 ? 's' : '') }}</a>
                        </div>
                        <div class="info sub" style="border-bottom: none">
                            <i class="fas fa-calendar-day"></i>Installer:
                            <a>Carpet Champs</a>
                        </div>
                        <div class="info sub" style="border-bottom: none">
                            <i class="fas fa-calendar-day"></i>Work Crew:
                            <a class="{{ item.installer ? '' : 'grey' }}">{{ item.installer ? item.installer.name : 'Unassigned' }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drop-down">
                <div class="info drop-btn" (click)="initShowCategories()">
                    <i class="fas fa-border-left"></i>Work Order Categories
                    <div>
                        <i class="fas fa-arrow-circle-{{ showCategories ? 'up' : 'down' }} drop-arrow"></i>
                    </div>
                </div>
                <div class="cards" *ngIf="showCategories"> 
                    <div class="card">
                        <div class="info">
                            <i class="fas fa-folder-tree"></i>Name
                            <div style="color: gray">
                                #
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none">
                            <i class="fas fa-folder-tree"></i>Project Preference: Carpet
                            <a>133</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drop-down">
                <div class="info drop-btn" (click)="initShowNotes()">
                    <i class="fas fa-comment-alt-lines"></i>Work Order Notes
                    <div>
                        <i class="fas fa-arrow-circle-{{ showNotes ? 'up' : 'down' }} drop-arrow"></i>
                    </div>
                </div>
                <div class="cards" *ngIf="showNotes">
                    <div class="card">
                        <div class="info">
                            Subject:
                            <div style="color: gray">
                                Carpet Roll
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none" style="font-weight: normal; color: gray;">
                            One roll in warehouse (Arrived 5/2/16)
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            Subject:
                            <div style="color: gray">
                                Installer
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none" style="font-weight: normal; color: gray;">
                            If you have any issues with the install please call Kathy
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            Subject:
                            <div style="color: gray">
                                Home Depot Note
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none" style="font-weight: normal; color: gray;">
                            Measure #11491541 Calc DateTime 04/24/16 10:56:10 One roll in warehouse (Arrived 5/2/16)
                        </div>
                    </div>
                    <div class="card">
                        <div class="info"> 
                            Subject:
                            <div style="color: gray">
                                Home Depot Note
                            </div>
                        </div>
                        <div class="info sub" style="border-bottom: none" style="font-weight: normal; color: gray;">
                            Measure #11491541 Calc DateTime 04/24/16 10:56:10 One roll in warehouse (Arrived 5/2/16)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items" *ngIf="aView">
            <div class="info" style="padding-top: 0px; border-bottom: none">
                <i class="fas fa-calendar-day"></i>{{ !editMode ? 'New' : 'Current' }} Schedule:&nbsp;<span style="color: #3367d6">{{ getSelectedDate() }}</span>
                <a (click)="cancelEdit()" style="background-color: #ff5050; margin-right: 10px;" *ngIf="editMode">CANCEL</a>
                <a [ngClass]="{'disabled': calendar[idx].status === undefined || calendar[idx].status === 2}" (click)="createSchedule()" [ngStyle]="{'margin-left': editMode ? 'unset' : 'auto'}">{{ !editMode ? 'CREATE' : 'SAVE CHANGES' }}</a>
            </div>
            <div class="info sub" style="border-bottom: none">
                <i class="fas fa-calendar-day"></i>Start Time:&nbsp;<span style="color: #3367d6">8:00AM</span>
            </div>
            <div class="info sub" style="border-bottom: none">
                <i class="fas fa-calendar-day"></i>Duration:&nbsp;<span style="color: #3367d6">{{ amt }} {{ (duration ? duration > 1 ? 'Minute' : 'Hour' : 'Day') + (amt > 1 ? 's' : '') }}</span>
            </div>
            <div class="info sub">
                <i class="fas fa-calendar-day"></i>Work Crew:&nbsp;<span [ngStyle]="{'font-weight': installer ? 'bold' : 'normal', 'color': installer ? '#3367d6': 'gray'}">{{ installer ? installer.name : 'Unassigned' }}</span>
            </div>
            <div class="info" style="border-bottom: none;">
                <i class="fas fa-question-square"></i>Status:&nbsp;<span class="{{ calendar[idx].status !== undefined ? !calendar[idx].status ? 'g' : calendar[idx].status === 1 ? 'y' : 'r' : 'grey' }}">{{ calendar[idx].status !== undefined ? getAvailability() : 'NOT LOADED' }}</span>
                <a *ngIf="calendar[idx].status === undefined" (click)="findAvailable()">LOAD AVAILABLITY</a> 
                <div class="switch" *ngIf="calendar[idx].status !== undefined && calendar[idx].status !== 2" style="position: absolute; top: 50%; left: 100%; transform: translate(-100%, -50%); width: 250px;">
                    <div [ngClass]="{'active': availableView}" (click)="initAvailable(null)" style="margin-right: 3px">Available</div>
                    <div (click)="initAvailable(null)" [ngClass]="{'active': !availableView}">Unavailable</div>
                </div>
            </div>
            <div style="position: relative; width: 100%; height: calc(100% - 175px); overflow: hidden; border-top: 1px solid #d9d9d9" *ngIf="calendar[idx].status !== undefined && calendar[idx].status !== 2">
                <div class="info installers">
                    <div class="installer-col h">Name</div>
                    <div class="installer-col h hl">{{ !availableView ? 'Reasons' : 'Project Preference' }}</div>
                    <div class="installer-col h" *ngIf="availableView">SSS</div>
                    <div class="switch" style="position: absolute; top: 50%; left: 100%; transform: translate(-100%, -50%); width: 250px;" *ngIf="availableView">
                        <div (click)="initAvailable(true)" [ngClass]="{'active': bestView}" style="margin-right: 3px">Best Fit</div>
                        <div (click)="initAvailable(false)" [ngClass]="{'active': !bestView}">A-Z</div>
                    </div>
                </div>
                <div class="inst-con">
                    <div class="info installers" *ngFor="let item of calendar[idx][availableView ? 'installers' : 'unavailables']">
                        <div class="installer-col">
                            <input *ngIf="availableView" #elem class="radio" type="radio" name="installer" (click)="selectInstaller(elem, item)" style="width: 14px; height: 14px; padding: unset; margin-right: 5px;"><span [ngClass]="{'h': installer && (item.name === installer.name)}">{{ item.name }}</span>
                        </div>
                        <div class="installer-col hl">
                            {{ availableView ? 'Carpet' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam' }}
                        </div>
                        <div class="installer-col" *ngIf="availableView">1 Day</div>
                        <div *ngIf="availableView" class="score" [ngClass]="{'g': item.score >= 90, 'y': item.score < 90 && item.score >= 80, 'r': item.score < 80 && item.score >= 70}">{{ item.score }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="customer-info">
    <div class="customer-labels">
        <div>Customer:</div>
        <div>Phone:</div>
        <div>Email:</div>
        <div>Address:</div>
        <div>Year Built:</div>
        <div>Zone:</div>
        <div>Type:</div>
        <div>Size:</div>
    </div>
    <div class="customer-txt">
        <div>Customer, Name</div>
        <div>(111) 111-1111</div>
        <div>example@gmail.com</div>
        <div>Address</div>
        <div>2020</div>
        <div>Denver</div>
        <div>In Stock Carpet</div>
        <div>133.67 Square Yards</div>
    </div>
</div>
<div class="category">
    <div class="category-header">Work Category <div>#</div></div>
    <div class="category-info">Project Preference: Carpet <div>133</div></div>
</div>
<div style="color: #3367d6; text-decoration: underline; font-size: 13px; cursor: pointer; margin-bottom: 25px;" (click)="showEx()">{{ showExtra ? 'Hide' : 'Show' }} extra work order details</div>
<div class="work-order" *ngIf="showExtra">
    <div class="work-order-con" style="margin-right: 25px;">
        <div class="work-order-header">Work Order Items</div>
        <div class="work-order-cols">
            <div class="work-order-col" style="flex: none">
                <div class="t">Name</div>
                <div>BSC CARPET - GLUE</div>
                <div>EXTERIOR GLUE DOWN INSTALLATION WHERE DRY</div>
                <div>REMOVE AND HAULAWAY CARPET AND PAD</div>
                <div>INSTALL ON CONCRETE STEPS</div>
            </div>
            <div class="work-order-col">
                <div class="t">#</div>
                <div>23</div>
                <div>23</div>
                <div>153</div>
                <div>1</div>
            </div>
            <div class="work-order-col">
                <div class="t">Unit Price</div>
                <div>$3.20</div>
                <div>$0.50</div>
                <div>$0.15</div>
                <div>$6.00</div>
            </div>
            <div class="work-order-col">
                <div class="t">Total</div>
                <div>$73.60</div>
                <div>$11.60</div>
                <div>$22.95</div>
                <div>$6.00</div>
            </div>
        </div> 
    </div>
    <div class="work-order-con" style="margin-right: 25px;">
        <div class="work-order-header">Work Order Notes</div>
        <div class="work-order-cols">
            <div class="work-order-col" style="flex: none">
                <div class="t">Subject</div>
                <div>Carpet Roll</div>
                <div>Installer</div>
                <div>Home Depot Note</div>
            </div>
            <div class="work-order-col" style="flex: none">
                <div class="t">Text</div>
                <div>One roll in warehouse (Arrived 5/2/16)</div>
                <div>If you have any issues with the install please call Kathy ...</div>
                <div>Measure #11491541 Calc DateTime 04/24/16 10:56:10</div>
            </div>
            <div class="work-order-col">
                <div class="t">Date</div>
                <div>5/2</div>
                <div>4/25</div>
                <div>2/25</div>
            </div>
        </div> 
    </div>
</div>

<div id="nav">
    <div class="border-bottom"></div>
    <div class="nav-item" *ngFor="let item of schedules" (click)="showScheduleView()" [ngClass]="{'active': scheduleView}">
        {{ item }}
        <div class="nav-pointer"></div>
    </div>
    <div class="nav-item" style="margin-right: auto;" (click)="showNewView()" [ngClass]="{'active': !scheduleView}">
        New Schedule +
        <div class="nav-pointer"></div>
    </div>

</div>
<div id="main">
    <div class="left" *ngIf="!scheduleView" [ngStyle]="{'display': (isMobile && listView) ? 'none' : 'block'}">
        <div class="item">
            <div class="label">1-Week Range:</div>
            <div class="items pill" (click)="initRange()" [ngClass]="{'active': rangeMode}">
                <div class="slider"></div>
            </div>
        </div>
        <div class="item" style="border-bottom: none;">
            <div class="label">Job Duration:</div>
            <div style="display: inline-flex; align-items: center;">
                <input #num class="num" type="number" value="1" (change)="changeAmt(num)">
                <select class="sel" #durations (change)="changeDuration(durations)">
                    <option selected value="0">{{ amt > 1 ? 'Days' : 'Day' }}</option>
                    <option value="1">{{ amt > 1 ? 'Hours' : 'Hour' }}</option>
                    <option value="2">{{ amt > 1 ? 'Minutes' : 'Minute' }}</option>
                </select>
            </div>
        </div>
        <div class="item" *ngIf="duration" style="border-bottom: none;">
            <div style="width: 100%; height: auto; padding: 10px; background-color: #d9d9d9; color: #fff; font-weight: bold; text-align: center">Slider</div>
        </div>
        <div class="item" id="find" (click)="findAvailable()" [ngClass]="{'disabled': calendar[idx].status !== undefined}">Find Available</div>
        <div class="item" id="days">
            <div>S</div>
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
        </div>
        <div id="calendar">
            <div id="first" [ngStyle]="{'width': (firstDay * 14.275) + '%'}"></div>
            <div class="day" *ngFor="let day of calendar; let i = index;" [ngClass]="{'in-range': rangeMode && day.status === undefined && (i < (idx + 7)) && i >= idx}">
                <div class="day-inner" [ngClass]="{'selected': day.date === selectedDate}" (click)="selectDay(day.date, i)">
                    <div style="position: absolute; left: 50%; top: 3px; transform: translateX(-50%); color: #3367d6; font-size: 11px;" *ngIf="!i || getDay(day.date) === 1">{{ getMonthLabel(day.date) }}</div>
                    {{ getDay(day.date) }}
                    <div class="status {{ day.status !== undefined ? !day.status ? 'g' : day.status === 1 ? 'y' : 'r' : '' }}"></div> 
                </div> 
            </div>
        </div>
    </div>
    <div class="right" [ngStyle]="{'padding-left': !scheduleView || !isMobile ? '25px': '0px', 'display': (isMobile && !listView) ? 'none' : 'block'}">
        <div class="schedules-con">
            <div class="schedule-con">
                <div class="schedule-col">
                    <div class="schedule-header">Schedule Date</div>
                    <div class="schedule-val">{{ getSelectedDate() }}</div>
                </div>
                <div class="schedule-col">
                    <div class="schedule-header">Installer</div>
                    <div class="schedule-val" [ngStyle]="{'font-weight': installer ? 'bold' : 'normal', 'color': installer ? '#3367d6': 'gray'}">{{ installer ? installer.name : 'Unassigned' }}</div>
                </div>
                <div class="schedule-col" *ngIf="scheduleView">
                    <div class="schedule-header">Start Time</div>
                    <div class="schedule-val">8AM</div>
                </div>
                <div class="schedule-col" *ngIf="scheduleView">
                    <div class="schedule-header">Job Duration</div>
                    <div class="schedule-val">1 Day</div>
                </div>
                
            </div>
        </div>
        
        <div class="work-order" *ngIf="scheduleView" style="flex-wrap: wrap; margin-top: 25px;">
            <div class="work-order-con" style="width: 100%;">
                <div class="work-order-header">Work Crew Technitians</div>
                <div class="work-order-cols">
                    <div class="work-order-col">
                        <div class="t">Technitian</div>
                        <div>Organization Alberto Gutierrez</div>
                        <div>Johnny Marquez</div>
                    </div>
                    <div class="work-order-col">
                        <div class="t">Description</div>
                        <div>asdlk d sdal;kfjasdf;l</div>
                        <div>Johnny Margquez</div>
                    </div>
                </div> 
            </div>
            <div class="work-order-con" style="width: 100%; margin-bottom: 25px;">
                <div class="work-order-header">Work Crew Compatibility</div>
                <div class="work-order-cols">
                    <div class="work-order-col">
                        <div class="t">Category</div>
                        <div>Secondary service</div>
                        <div>Project Preference: Carpet</div>
                    </div>
                    <div class="work-order-col">
                        <div class="t">Work Order Value</div>
                        <div>Fort Collins Carpet</div>
                        <div>$133.00</div>
                    </div>
                    <div class="work-order-col">
                        <div class="t">Crew Value</div>
                        <div>None</div>
                        <div>175</div>
                    </div>
                    <div class="work-order-col">
                        <div class="t">Comments</div>
                        <div>;lkajsdf;lkj adsflk dasflk asdf</div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="container" *ngIf="!scheduleView">
            <div class="item" style="border-bottom: none;">
                <div class="label" *ngIf="!scheduleView">Status:&nbsp;<div id="small" *ngIf="calendar[idx].status === undefined" (click)="findAvailable()">Get Availability</div><div class="{{ !calendar[idx].status ? 'g' : calendar[idx].status === 1 ? 'y' : 'r' }}" id="status" *ngIf="calendar[idx].status !== undefined">{{ getAvailability() }}</div></div>
                <div class="items" *ngIf="calendar[idx].status !== undefined && calendar[idx].status !== 2">
                    <div class="selection" (click)="initAvailable(null)" [ngClass]="{'active': availableView === null}">
                        Installers A-Z
                        <div class="side"></div>
                    </div>
                    <div class="selection" (click)="initAvailable(true)" [ngClass]="{'active': availableView}">
                        Best Fit
                        <div class="side"></div>
                    </div>
                    <div class="selection" style="margin-right: 10px" (click)="initAvailable(false)" [ngClass]="{'active': availableView !== null && !availableView}">
                        Unavailable
                        <div class="side"></div>
                    </div>
                </div> 
            </div>
            <div style="position: relative; width: 100%; height: auto; overflow: hidden;" *ngIf="calendar[idx].status !== undefined && calendar[idx].status !== 2">
                <form *ngIf="availableView || availableView === null">
                    <div class="installer-header">
                        <div class="installer-header-col">Name</div>
                        <div class="installer-header-col">Project Preference</div>
                        <div class="installer-header-col">SSS Estimated Job Duration</div>
                    </div>
                    <div class="installer-outer" style="position: relative; width: 100%; height: auto;" *ngFor="let item of calendar[idx].installers">
                        <div class="installer" [ngClass]="{'active': installer && (item.name === installer.name)}">
                            <div class="installer-col in" style="display: inline-flex; align-items: center"><input #elem class="radio" type="radio" name="installer" (click)="selectInstaller(elem, item)">{{ item.name }}</div>
                            <div class="installer-col">Carpet</div>
                            <div class="installer-col">1 Day</div>
                            <div class="installer-right">
                                <i class="fas fa-info-square" style="color: #3367d6; cursor: pointer; font-size: 20px;" title="View Installer Info" (click)="expand(item)"></i>
                                <div style="width: 1px; height: 15px; background-color: #d9d9d9; margin: 0px 17px 0px 15px;"></div>
                                <div class="score {{ item.score >= 90 ? 'g' : item.score < 90 && item.score >= 80 ? 'y' : item.score < 80 && item.score >= 70 ? 'r' : '' }}">{{ item.score }}</div>
                            </div>
                        </div>
                        <div class="installer-extra" *ngIf="item.expanded">
                            <div class="installer-extra-header">
                                <div class="installer-header-col" style="color: #3367d6">Technician</div>
                                <div class="installer-header-col" style="flex: 2; color: #3367d6;">Description</div>
                            </div>
                            <div class="installer-extra-con">
                                <div style="flex: 1">Technician Name</div>
                                <div style="flex: 2">al;kasdjf asdfl kasdflk j;lkjas dflkjasdflk jdsa;lkj asfdlk jasdflk asdflkj</div>
                            </div>
                        </div>
                    </div>
                </form>
                <form *ngIf="availableView === false">
                    <div class="installer-header">
                        <div class="installer-header-col">Name</div>
                        <div class="installer-header-col" style="flex: 2">Details</div>
                    </div>
                    <div class="installer b" *ngFor="let item of calendar[idx].unavailables">
                        <div class="installer-col">{{ item.name }}</div>
                        <div class="installer-col" style="flex: 2">asd;flkjasdf asd;flk asdf;lk asdf asdf asd;lfkja; dasf;lkjasdf ;kjasd;flk jasdf</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
-->
