<div class="row" id="header">
    <div class="col info-header">Name</div>
    <div class="col info-header">Phone</div>
    <div class="col info-header">Address</div>
    <div class="col info-header">Year Built</div>
    <div class="col info-header">Zone</div>
    <div class="col info-header">Type</div>
    <div class="col info-header">Size</div>
</div>
<div class="row">
    <div class="col">Draper, Cathy</div>
    <div class="col">(866) 466-4001</div>
    <div class="col">
        1018 Rudd Ave
        Canon City, CO
        81212-3452</div>
    <div class="col">1925</div>
    <div class="col">Canon City</div>
    <div class="col">In Stock Carpet</div>
    <div class="col">.00 Square Yard</div>
</div>